/*
css for Rob's RockArt site 
*/

h1 {
	color: #0021ae;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
body {

	color: #323232;
	font: 100%/1.5 "Trebuchet MS", Helvetica, sans-serif;
	max-width: 960px;
	margin: 0 auto;
	background-color: #aeaeae;
}



#heavymetal {
	padding-left: 2.22222%; /* 20px/900px */
	width: 300px;
	height: 150px;
}
#hook {
	width: 100%; /* 900px*/
	margin: 0 auto;
	overflow: hidden;
}
#title {
	font-weight: bold;
	font-size: 2em;
	color: #0054a6;
	text-align: left;
	float: left;
}

/*---------------Navigation---------------------*/
ul {
	width: 960px;
	margin: 0 auto;
	background: #666;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}

li {
	width: 100px;
	background: silver;
	float: right;
}

a {
	text-decoration: none;
	height: 30px;
	display: block;
	background: #323232;
	line-height: 30px;
	text-align: center;
	color: #d0000d;
	padding: 8px 15px;
	border-right: 1px solid #ccc;
}

a:hover {
	color: #aeaeae;
	background: #323232;
}

h2 {
	clear: both;
}

img {
	border: 10px solid #0021ae;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#navigation {
	min-width: 100%;
	float: right;
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}


.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

table {
	border-collapse: collapse;
	border: 1px solid #000;
	width: 50%;
	position: relative;
	clear: both;
	float: left;
	background: #6dcff6;
}

td {
	border: 1px solid #000;
	padding: 0.3em;
}

th {
	text-align: center;
	background-color: #999;
	color: #fff;
	padding: 0.3em;
}


form {
	border: 1px solid navy;
	float: right;
	text-align: left;
	width: 49%;
	float: right;
	position: relative;
	background: #5174d5;
}

form label {
	padding-left: 20px;
}

form input {
	float: right;
	padding-right: 20px;
}

#Sex {
	padding-left: 20px;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
#hook {
	background-color: #509cff;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#hook {
	background-color: #ff7743;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

